<div class="section2">
  <div id="stylingDivAbout"></div>
  <div id="contentDiv">
    <img src="../../assets/images/portfolioImage.png">
    <p>I am a front-end developer currently residing in Winston-Salem, NC. I am a lover of coffee, an avid traveler, 
      and a Spanish speaker who has lived and worked abroad. With a background in Social Work, I am passionate about the way technology can be used to connect and improve the world.
      I am a constant learner who enjoys problem-solving and examining processes and procedures to consistently find ways 
      to improve. I have experience working with multiple technologies including HTML, CSS, Javascript, jQuery, nodejs, React, and Angular.</p>
  </div>
  <div class="downArrow"><mat-icon id="section2DownArrow" (click)="scrollToAbout('section3')">keyboard_arrow_down</mat-icon></div>
</div>