<div class="section3">
  <h1>Projects</h1>
  <div id="projectLinks">
    <div class="workCard grid-item">
      <h2>Helping Hands
      <a href="https://github.com/mikalasmith/HelpingHands.git" target="_blank"><img src="assets/images/github.png" class="newIcon" class="social" alt="github"></a></h2>
      <a href="https://obscure-castle-78824.herokuapp.com/" target="_blank"><img src="assets/images/helpinghands.png" alt="helpinghands"></a>
    </div>  

    <div class="workCard grid-item">
      <h2>Clicky Game
      <a href="https://github.com/charlotteasencio/click.git" target="_blank"><img src="assets/images/github.png" class="newIcon" class="social" alt="github"></a></h2>
      <a href="https://warm-everglades-28856.herokuapp.com/" target="_blank"><img src="assets/images/popsicle.png" alt="popsicle"></a>
    </div>  

    <div class="workCard grid-item">
      <h2>Friend Finder
      <a href="https://github.com/charlotteasencio/friend-finder.git" target="_blank"><img src="assets/images/github.png" class="newIcon" class="social" alt="github"></a></h2>
      <a href="https://hidden-beyond-12623.herokuapp.com/" target="_blank"><img src="assets/images/Friendfinder.png" alt="Friendfinder"></a>
    </div>  

    <div class="workCard grid-item">
      <h2>Gif Selector
      <a href="https://github.com/charlotteasencio/AjaxGif.git" target="_blank"><img src="assets/images/github.png" class="newIcon" class="social" alt="github"></a></h2>
      <a href="https://charlotteasencio.github.io/AjaxGif" target="_blank"><img src="assets/images/gificon.png" alt="gif"></a>
    </div>  

    <div class="workCard grid-item">
      <h2>Liri Bot
      <a href="https://github.com/charlotteasencio/liri-node-app.git" target="_blank"><img src="assets/images/github.png" class="newIcon" class="responsive" class="social" alt="github"></a></h2>
      <a href="https://github.com/charlotteasencio/liri-node-app.git" target="_blank"><img src="assets/images/liri.png" alt="liri"></a>
    </div>  

    <div class="workCard grid-item">
      <h2>Yahptions
      <a href="https://github.com/ryanadiaz/yahptions.git" target="_blank"><img src="assets/images/github.png" class="newIcon" class="responsive" class="social" alt="github"></a></h2>
      <a href="https://ryanadiaz.github.io/yahptions" target="_blank"><img src="assets/images/yahptions.png" alt="yahptions"></a>
    </div>  
  </div>
  <div class="downArrow"><mat-icon id="section3DownArrow" (click)="scrollToAbout('section4')">keyboard_arrow_down</mat-icon></div>
</div>
